.filter_link{
    background-color: #f5f8fb;
    border-radius: 3px;
    display: inline-block;
    margin: 0 2px 5px 0;
    padding: 3px 7px 4px;

}
.filter_title{
    font-size: 20px;
}
.active{
    background-color: greenyellow;
}